@import "tailwindcss";

button,
Link {
  cursor: pointer;
}

.callbutton:hover .target{
  color: #ff8243;
}

.wabutton:hover .target2{
  color: #ff8243;
}

/* Make Swiper arrows larger */
.swiper-button-next,
.swiper-button-prev {
  font-size: 1rem;      /* Increase icon size */
  /* width: 20px; */
  /* height: 20px; */
  color: #0A2C5C;         /* Optional: change color */
}

 
 .hover_img:hover #fav_share{
  display: flex;
}